# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
argon2-cffi
attrs
backcall
blas
bleach
bzip2
ca-certificates
certifi
cffi
cycler
dbus
decorator
defusedxml
dill
entrypoints
expat
fontconfig
freetype
gdbm
glib
gst-plugins-base
gstreamer
icu
importlib-metadata
importlib_metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
joblib
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
kiwisolver
lcms2
libedit
libffi
libpng
libsodium
libtiff
libuuid
libxml2
lz4-c
markupsafe
matplotlib
matplotlib-base
mistune
mkl
mkl-service
mkl_fft
mkl_random
multiprocess
nbconvert
nbformat
ncurses
notebook
numpy
numpy-base
olefile
openssl
packaging
pandas
pandoc
pandocfilters
parso
pcre
pexpect
pickleshare
pillow
pip
prometheus_client
prompt-toolkit
prompt_toolkit
ptyprocess
pycparser
pygments
pyparsing
pypy3.6
pyqt
pyrsistent
python
python-dateutil
python_abi
pytz
pyzmq
qt
qtconsole
qtpy
readline
scikit-learn
scipy
send2trash
setuptools
sip
six
sqlite
terminado
testpath
threadpoolctl
tk
tornado
tqdm
traitlets
wcwidth
webencodings
wheel
widgetsnbextension
xlrd
xz
zeromq
zipp
zlib
zstd
